<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         backupGlobals="false"
         processIsolation="false"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true"
         >
    <testsuites>
        <testsuite name="Flysystem stream wrapper tests">
            <!--<directory suffix=".php">./tests/</directory>-->
            <file>tests/UidTest.php</file>
            <file>tests/FlysystemStreamWrapperTest.php</file>
            <file>tests/StreamOperationTest.php</file>
            <file>tests/WritableOptimizedTest.php</file>
            <file>tests/Flysystem/Exception/TriggerErrorExceptionTest.php</file>
            <file>tests/Flysystem/Plugin/StatTest.php</file>
            <file>tests/StreamUtilTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
